<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{{ page.title }}</title>
	<meta name="author" content="Eric Reid" />
	<link href="http://feeds.feedburner.com/ericreid" rel="alternate" title="ericreid.org" type="application/atom+xml" />
	
	<link rel="stylesheet" href="/stylesheets/master.css?{{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/css" media="screen" title="no title" charset="utf-8" />
	<link rel="stylesheet" href="/stylesheets/webkit-scrollbar.css?{{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/css" media="screen" title="no title" charset="utf-8" />
	<link rel="stylesheet" href="/resources/fancybox/fancybox.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<script src="/javascripts/libs.js?{{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/main.js?{{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/webkit-scrollbar.js?{{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/javascript" charset="utf-8"></script>
	
</head>

<body>
<div id="debug"></div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-759250-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>